.container {
  background-color: var(--bg-primary);
  padding: 5% 4rem;
  color: white;
}

.container span {
  display: inline-block;
}

.h1-wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-68);
  font-weight: var(--font-bold);
  line-height: 0.9;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.h1-wrapper span {
  display: inline-block;
}

.h1 {
  margin-left: 90px;
}

.content {
  display: grid;
  border-top: 1px solid white;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-bottom: 1px solid white;
  padding: 3rem 0;
}

.h2 {
  font-size: var(--font-size-42);
  margin-top: 3rem;
}

.h3 {
  font-size: 1.75rem;
  font-weight: var(--font-bold);
  list-style: none;
}

.bio-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.li-text {
  font-size: 1.25rem;
  line-height: 1.5;
  position: relative;
  padding-left: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.li-text::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
}

.period {
  font-size: 1.25rem;
}

.experience,
.education,
.skills {
  padding: 1rem 0;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-name {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1536px) {
  .h1-wrapper {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 5% 4%;
  }

  .article {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  .h1-wrapper {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .h1 {
    margin-left: 0;
  }

  .h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .bio-text {
    font-size: 1.125rem;
  }

  .h3 {
    font-size: 1.5rem;
  }

  .li-text,
  .period {
    font-size: 1rem;
  }

  .itemHeader {
    margin-bottom: 0.75rem;
  }

  .experience,
  .education,
  .skills {
    padding: 0.8rem 0;
  }
}

@media screen and (max-width: 475px) {
  .container {
    padding: 3.5rem 1.5rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1.2rem;
  }

  .bio-text {
    font-size: 1rem;
  }
}
