.container {
  background-color: var(--bg-primary);
  padding: 5% 4rem;
  color: white;
}

.h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-56);
  font-weight: var(--font-medium);
  color: white;
  text-align: center;
  padding: 1.5rem 0;
}

.content {
  display: grid;
  border-top: 1px solid white;
  margin-top: 3.5rem;
}

.article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid white;
}

.h2 {
  font-size: var(--font-size-42);
  border-right: 1px solid white;
  padding: 3.5rem 5rem;
}

.h3 {
  font-size: 1.75rem;
  font-weight: var(--font-bold);
  list-style: none;
}

.bio-text {
  font-size: var(--font-size-20);
  line-height: 1.5;
  padding: 2rem;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
}

.li-text {
  font-size: var(--font-size-20);
  line-height: 1.5;
  position: relative;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

.li-text::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
}

.period {
  font-size: 1.25rem;
}

.experience-container,
.education-container {
  padding: 0 2rem 1.375rem 2rem;
}

.license-container {
  padding: 2rem 2rem 1.375rem 2rem;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill-box {
  padding: 1.5rem 1rem 1rem 1.5rem;
}

/* 첫 번째 스킬 박스 스타일 */
.skill-grid > div:nth-child(1) {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.skill-grid > div:nth-child(1) .skills-name::before {
  display: inline-block;
  content: url("/icons/nextjs-icon.svg");
  margin-right: 8px;
}

/* 두 번째 스킬 박스 스타일 */
.skill-grid > div:nth-child(2) {
  border-bottom: 1px solid white;
}

.skill-grid > div:nth-child(2) .skills-name::before {
  display: inline-block;
  content: url("/icons/react-icon.svg");
  margin-right: 8px;
}

/* 세 번째 스킬 박스 스타일 */
.skill-grid > div:nth-child(3) {
  border-right: 1px solid white;
}

.skill-grid > div:nth-child(3) .skills-name::before {
  display: inline-block;
  content: url("/icons/html5-icon.svg");
  margin-right: 8px;
}

/* 네 번째 스킬 박스 스타일 */
.skill-grid > div:nth-child(4) .skills-name::before {
  display: inline-block;
  content: url("/icons/typescript-icon.svg");
  margin-right: 8px;
}

.skills-name {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: var(--font-bold);
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 5% 4%;
  }

  .article {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  .h1 {
    margin-left: 0;
  }

  .h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    border-right: 0;
  }

  .bio-text {
    font-size: 1.125rem;
    padding: 0;
  }

  .h3 {
    font-size: 1.5rem;
  }

  .li-text,
  .period {
    font-size: 1rem;
  }

  .itemHeader {
    margin-bottom: 0.75rem;
  }

  .experience,
  .education,
  .skills {
    padding: 0.8rem 0;
  }

  .itemHeader {
    margin-top: 0;
  }

  .experience-container,
  .education-container,
  .license-container {
    padding: 0;
  }

  .skill-box {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .skill-box {
    padding: 0.8rem 0;
  }

  .skill-grid {
    grid-template-columns: 1fr;
  }

  .skill-grid > div:nth-child(1) {
    border-right: 0;
    border-bottom: 0;
  }

  .skill-grid > div:nth-child(2) {
    border-bottom: 0;
  }

  .skill-grid > div:nth-child(3) {
    border-right: 0;
  }
}

@media screen and (max-width: 475px) {
  .container {
    padding: 3.5rem 1.5rem;
  }

  .h1 {
    text-align: start;
    font-size: var(--font-size-48);
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1.2rem;
  }

  .content {
    margin-top: 0;
  }

  .bio-text {
    font-size: 1rem;
  }
}
