.marqueeContainer {
  width: 100%;
  overflow: hidden;
  margin-top: 12rem;
  margin-bottom: 3rem;
}

.marqueeContent {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 50s linear infinite;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 3rem 2rem;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-120);
  font-weight: var(--font-bold);
  padding-right: 10rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 10.42vw;
  }
}

@media screen and (max-width: 475px) {
  .text {
    font-size: 17.78vw;
  }
}
