.container {
  padding: 5% 4rem;
  /* max-width: 96rem; */
  background-color: var(--bg-primary);
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-56);
  font-weight: var(--font-medium);
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 1.5rem 0;
}

.h1-sub {
  display: inline-block;
  margin: 1.2rem 0;
  font-size: var(--font-size-20);
  font-weight: var(--font-light);
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 5% 4%;
  }
}

@media screen and (max-width: 768px) {
  .h1-sub {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 475px) {
  .container {
    padding: 3.5rem 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .h1 {
    font-size: var(--font-size-56);
  }

  .h1-sub {
    font-size: var(--font-size-16);
    margin-top: 1.2rem;
  }
}
