.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #171715;
  color: #fff;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-weight: var(--font-medium); */
}

.loadingOverlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.loadingOverlay p {
  font-size: 2rem;
}

.folio {
  color: #bebeb1;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  font-family: "Montserrat", sans-serif;
  height: calc(100vh - 96px);
  overflow: hidden;
  background-color: #f8fafc;
}

.text {
  font-size: 7vw;
  font-weight: var(--font-semibold);
  line-height: 0.9;
  margin-bottom: 30px;
}

.text span {
  display: inline-block;
}

.name-text {
  font-size: 7.5vw;
  font-weight: var(--font-medium);
  padding-bottom: 3rem;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 1536px) {
  .container {
    padding: 1rem 2.5rem 0;
    height: calc(100vh - 80px);
  }

  .text {
    font-size: var(--font-size-120);
    margin-bottom: 20px;
  }

  .name-text {
    font-size: var(--font-size-120);
    padding-bottom: 1.8rem;
  }

  .image {
    width: 550px;
    height: 280px;
  }
}

@media screen and (max-width: 1280px) {
  .text {
    font-size: 7.5vw;
  }

  .name-text {
    font-size: 7.5vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 68px);
    padding: 4rem 2rem;
  }

  .inner {
    margin-top: 100px;
  }

  .image {
    width: 400px;
    height: 200px;
  }

  .loadingOverlay h1 {
    font-size: 2.5rem;
  }

  .loadingOverlay p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 640px) {
  .text {
    font-size: 8vw;
  }

  .name-text {
    font-size: 8vw;
  }
}

@media screen and (max-width: 475px) {
  .image {
    width: 270px;
    height: 135px;
  }

  .loadingOverlay h1 {
    font-size: 2rem;
  }

  .loadingOverlay p {
    font-size: 1rem;
  }
}
