@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "./root.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  line-height: 1;
}

body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    "Montserrat",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  background-color: var(--bg-layout);
  /* min-height: 100vh; */
}

a,
Link {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
